<!--
  This template loads for the 'tab.about' state (app.js)
-->
<ion-view title="'Ahorro a la Mano'">
  <ion-content has-header="true" has-tabs="true" padding="true">
      <div class="descripcionServicio">
      <figure id="logo">
        <img src="img/logo-grupo-bancolombia.png" width="350px" >
      </figure>
      <div class="textoDescripcion">
        <h3>Banca a la mano</h3>
        <p>Descripción del Servicio</p>
        Es una cuenta de ahorro sin cuota de manejo
        que funciona desde cualquier celular, la puedes abrir desde $0,
        el saldo mínimo es $0 y no consume minutos ni datos
      </div>
    </div>
  </ion-content>
</ion-view>
