<!--
  This template loads for the 'tab.about' state (app.js)
-->
<ion-view title="'Bancolombia - Ahorro a la Mano'">
   <div class="bar bar-subheader bar-energized">
      <button class="button icon ion-home"></button>
      <h1 class="title">Que es Ahorro a la Mano?</h1>
     <a href="#" class="button icon ion-android-share"></a>
   </div>   
  <ion-content has-header="true" has-subheader="true" has-tabs="true">
     <div class="list card">
       <div class="list card" align="center">
         <img src="img/cabezote.png" alt="Ahorro a la Mano" width="350px">
       </div>  
       <div class="item item-text-wrap">
         <h3>Descripción del Servicio</h3>
          <p>
            Es una cuenta de ahorro sin cuota de manejo
            que funciona desde cualquier celular, la puedes abrir desde $0,
            el saldo mínimo es $0 y no consume minutos ni datos.
          </p>
          <h3>Es segura.</h3>
          <p>
            Tu dinero está en el banco, si pierdes tu celular conservas tus ahorros.
            Solo te cuesta $ 1.000 retirar. Por Bancolombia A la Mano Corresponsal Bancario y por
            Cajeros Automáticos Bancolombia sin necesidad de tener tarjeta.
          </p>
          <h3> Puedes recibir y enviar dinero a otras cuentas Bancolombia</h3>
          <p>
           consultar el saldo, recargar el celular y pagar facturas.
          </p>

          <h3>Características de tu cuenta Ahorro a la Mano</h3>
          <p>
            La abres fácilmente desde tu celular.
            Recibes un seguro de hospitalización gratis, si en el mes inmediatamente
            anterior mantuviste un saldo promedio de $350.000*
            Atractivas tasas de interés.
            No necesitas tarjeta débito ya que todas las transacciones se originan desde tu celular.
            • Puedes tener aproximadamente $4.5 millones en la cuenta y retirar $1.7 millones al mes.
            El número de la cuenta es un número de un dígito más tu número celular.
            *Sujeto a restricciones y condiciones
          </p>
       </div>
       <div class="item item-divider">
       </div>
    </div>
  </ion-content>
</ion-view>
