<!--
  This template loads for the 'tab.about' state (app.js)
-->
<ion-view title="'Bancolombia - Banca a la Mano'">
   <div class="bar bar-subheader bar-energized">
      <button class="button icon ion-home"></button>
      <h1 class="title">Que es banca a la Mano?</h1>
      <button class="button icon ion-android-share"></button>
   </div>   
  <ion-content has-header="true" has-subheader="true" has-tabs="true">
     <div class="list card">
        <div class="padding">
          <p>
            <h3>Banca a la Mano</h3>
            Descripción del Servicio
            Es una cuenta de ahorro sin cuota de manejo
            que funciona desde cualquier celular, la puedes abrir desde $0,
            el saldo mínimo es $0 y no consume minutos ni datos
          </p>
        </div>
    </div>
  </ion-content>
</ion-view>
