<ion-view title="'Bancolombia - Banca a la Mano'">
   <div class="bar bar-subheader bar-energized">
      <button class="button icon ion-home"></button>
      <h1 class="title">Autenticación</h1>
      <button class="button icon ion-android-share"></button>
   </div>   
   <ion-content has-header="true" has-subheader="true" has-tabs="true">
    <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">Usuario</span>
        <input type="text" placeHolder="Ingrese su Usuario" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Clave</span>
        <input type="password" placeHolder="Ingrese su Clave" required>
      </label>
      <ion-toggle>Recordar Usuario</ion-toggle>
      <a href="#/tab/transactions" class="button button-positive button-block">Ingresar</a>
    </div>
   </ion-content>
</ion-view>
