<!--
  This template loads for the 'balance' state (app.js)
-->
<ion-view title="'Bancolombia - Ahorro a la Mano'">
   <div class="bar bar-subheader bar-energized">
      <button class="button icon ion-android-information"></button>
      <h1 class="title">Notificaciones</h1>
      <button class="button icon ion-android-share"></button>
   </div>   
  <ion-content has-header="true" has-subheader="true" has-tabs="true" padding="true">
     <div class="list card">
        <div class="item item-divider">
           <h2>Mis Notificaciones</h2>
        </div>
         <div class="item item-text-wrap">
          Bienvenido a Ahorro a la Mano. Es un gusto contar con clientes como usted.
        </div>
      </div>
  </ion-content>
</ion-view>
