<!--
  This template loads for the 'tab.transactions' state (app.js)
-->
<ion-view title="'Transacciones'">
  <ion-content has-header="true" has-tabs="true">
    <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">Enviar Dinero</span>
      </label>
      <label class="item item-input">
        <span class="input-label">Retirar Dinero</span>
      </label>
      <label class="item item-input">
        <span class="input-label">Recargar Prepago</span>
      </label>
      <label class="item item-input">
        <span class="input-label">Pagar Facturas</span>
      </label>
      <label class="item item-input">
        <span class="input-label">Consulta de Saldo</span>
      </label>
    </div>
  </ion-content>
</ion-view>
